tenancy_ocid        = "ocid1.tenancy.oc1..aaaaaaaa******"
compartment_ocid    = "ocid1.compartment.oc1..aaaaaaaa******"
user_ocid           = "ocid1.user.oc1..aaaaaaaa******"
subnet_ocid         = "ocid1.subnet.oc1.iad.aaaaaaaa******"
availability_domain = "xxxx:US-EXAMPLE-AD-3"
region              = "us-ashburn-1"
key_file            = "./.oci/oci_api_key.pem"
fingerprint         = "12:34:56:78:90:ab:cd:ef:12:34:56:78:90:ab:cd:ef"